div._s-flex{display: flex;}
div._s-flex-row{display: flex;flex-direction: row;}
div._s-flex-jc-c{display: flex;flex-direction: row;justify-content: center;}
div._s-flex-jc-sb{display: flex;flex-direction: row;justify-content: space-between;}
div._s-flex-jc-sa{display: flex;flex-direction: row;justify-content: space-around;}
div._s-flex-jc-s{display: flex;flex-direction: row;justify-content: flex-start;}
div._s-flex-jc-e{display: flex;flex-direction: row;justify-content: flex-end;}
div._s-flex-ai-c{display: flex;flex-direction: row;align-items: center;}
div._s-flex-ai-s{display: flex;flex-direction: row;align-items: flex-start;}
div._s-flex-ai-e{display: flex;flex-direction: row;align-items: flex-end;}
div._s-flex-col{display: flex;flex-direction: column;}
